@keyframes loading{
	from{
    clip-path: polygon(0% 0%, 0% 100%, 5% 50%, 15% 50%, 95% 50%, 85% 50%, 0% 50%, 0% 100%, 100% 100%, 100% 0%);
  }
	to{
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%, 100% 0%, 100% 100%, 0% 100%, 0 100%, 100% 100%, 100% 0%)
	}
}

@keyframes underlineOver{
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes underlineOut{
  0% {
    transform: scale(1, 1);
    transform-origin: 100% 0;
  }
  100% {
    transform: scale(0, 1);
    transform-origin: 100% 0;
  }
}


@keyframes railHorizontal {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-50%)
  }
}


@keyframes mouseoutVideoToggler {
  0% {
    transform: rotate(-45deg);
    stroke-dashoffset: 616;

  }

  100% {
    transform: rotate(85deg);
    stroke-dashoffset: 0;
  }
}

@keyframes mouseoverVideoToggler {
  0% {
    stroke-dasharray: 0;
    transform: rotate(0) scale(1);
  }

  15% {
    stroke-dasharray: 2, 10;
  }

  100% {
    stroke-dasharray: 2, 10;
    transform: rotate(35deg) scale(0.9);
  }
}

